html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: rgb(35, 47, 62);
    color: rgb(255, 255, 255);
}

.container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flashcard {
  padding: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.imergz {
  height: 300px;
  width: 300px;
}

.card {
  transition: 0.3s;
  transform-style: preserve-3d;
}

.card .front,  .card .back{
  position: absolute;
  top: 0;
  left: 0;
  width: 20em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 2rem;
  backface-visibility: hidden;
  border: 1px solid #000;

  /* box shadow */
  box-shadow: 0px 6px 5px 0px #000;
  -webkit-box-shadow: 0px 6px 5px 0px #000;
  -moz-box-shadow: 0px 6px 5px 0px #000;
}

.card .front {
  background: #e7a61a;
  color: #000000;
  z-index: 2;
  transform: rotateY(0deg);
}

.card[data-flipped-status="FLIPPED"], .back{
  transform: rotateY(180deg);
}
